<div class="admin-title">
  <h2>View / Edit Post</h2>
  <div class="admin-title-controls">
    <a href="/dashboard" class="title-btn"> < Back</a>
    <form style="display: flex;" action="/delete-post/<%= data._id %>?_method=DELETE" method="post">
      <a href="#" onclick="event.preventDefault(); this.closest('form').submit();" class="delete-btn">Delete</a>
    </form>
  </div>
</div>

<form action="/edit-post/<%= data._id %>?_method=PUT" method="post">
  <label for="title"><b>Title</b></label>
  <input type="text" placeholder="Post Title" name="title" value="<%= data.title %>">
  
  <label for="body"><b>Content</b></label>
  <textarea name="body" cols="50" rows="10"><%= data.body %></textarea>

  <input type="submit" value="Update" class="btn">
</form>